

* {
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'challenge';
    src: url('../fonts/ChallengeShadow.ttf');
}

body {
    text-align: center;
}

a:link {
    text-decoration: none;
}

#init-wrapper {
    width: 70%;
    margin: 40px auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

/******* HEADER *******/

#init-header {
    background-image: -webkit-linear-gradient(left, #b800ff, #0040ff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #b800ff, #0040ff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #b800ff, #0040ff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #b800ff, #0040ff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #b800ff, #0040ff); /* Standard syntax; must be last */
    color: white;
    padding: 20px;
    height: 80px;
    margin-bottom: 20px;
}

#init-header h1{
    font: bold 28px challenge;
}

#init-header h4 {
    font: italic 14px sans-serif;
    text-align: right;
}


/******* NAV *******/

#menu-wrapper {
    /* background: #4560F6; */
    font-weight: bold;
    color: #33067a;
    margin-top: 5px;
    margin-bottom: 60px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

#menu-wrapper a:visited {
    color: #33067a;
}

#menu-wrapper a:hover {
    text-decoration-line: underline;
    text-decoration-color: #b800ff;
}

#inicio {
    flex: 1;
}

#articulos {
    flex: 1;
}

#topicos {
    flex: 1;
}

#nosotros {
    flex: 1;
}

#contactanos {
    flex: 1;
}

/******* BODY INDEX *******/

#init-section {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

article {
    padding: 20px;
    margin-bottom: 15px;
}

.article-description a:visited {
    color: black;
}

article:not(article:last-child){
    border-bottom: 0.5px solid #F1F4F7;
}

.article-wrapper {
    display: flex;
}

.article-description {
    flex: 3;
    position: relative;
}

.article-title {
    margin: 10px;
    text-align: left;
}

.article-title h4 {
    margin: 15px;
    font-weight: normal;
    font-size: 14px;
}

article footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    text-align: right;
    color: #D2BEDF;
}

.article-image {
    flex: 1;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    width: 250px;
    height: 150px;
}

/******* BODY TOPICS *******/

#topics-section {
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.topic-row {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 60px;
}

.topic-card {
    flex: 1;
}

.topic-card header {
    margin: 20px;
}

.topic-card img {
    margin: auto;
    height: 250px;
}


/******* FOOTER *******/

#data-organization {
    clear: both;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 2px solid #999999;
}


/******* FORMS *******/

#form-contact-us{
    background: #4560F6;
    margin: 100px;
    padding: 10px;
}