

* {
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'challenge';
    src: url('../fonts/ChallengeShadow.ttf');
}

body {
    text-align: center;
}

#init-wrapper {
    width: 960px;
    margin: 15px auto;
    text-align: left;
}

/******* HEADER *******/

#init-header {
    background-image: -webkit-linear-gradient(left, #b800ff, #0040ff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #b800ff, #0040ff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #b800ff, #0040ff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #b800ff, #0040ff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #b800ff, #0040ff); /* Standard syntax; must be last */
    color: white;
    padding: 20px;
}

#init-header h1{
    font: bold 28px challenge;
}

#init-header h4 {
    font: italic 14px sans-serif;
    text-align: right;
}


/******* NAV *******/

#menu {

}

#menu li {
    padding: 5px;
    font: bold 14px verdana, sans-serif;
}

#menu-wrapper {
    background: #4560F6;
    color: white;
    margin-top: 5px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
}

#inicio {
    flex: 1;
}

#articulos {
    flex: 1;
}

#topicos {
    flex: 1;
}

#nosotros {
    flex: 1;
}

#contactanos {
    flex: 1;
}

/******* BODY INDEX *******/

#init-section {
    width: 90%;
    margin: 20px;
}

article {
    padding: 20px;
    margin-bottom: 15px;
}

/* #init-section article {
    background-color: #0040ff;
} */

.article-wrapper {
    display: flex;
}

.article-description {
    flex: 3;
    /* background-color: #999999; */
}

.article-title {
    margin: 15px;
    text-align: left;
}

article footer {
    text-align: right;
}

.article-image {
    flex: 1;
    background-color: aqua;
}

/* revisar estas reglas */
img {
    display: flex;
    width: 100%;
    height: 100%;
    width: 250px;
    height: 150px;
}



/******* FOOTER *******/

#data-organization {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #999999;
}


/******* FORMS *******/

#form-contact-us{
    background: #4560F6;
    margin: 100px;
    padding: 10px;
}